@import url("style.css");

#news-banner {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.oscar-highlight {
    color: #D4AF37;
    font-weight: bold;
}
#news-banner {
    background-color: #ffd000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.oscar-highlight {
    color: #D4AF37;
    font-weight: bold;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.news-item {
    padding: 20px;
    border-left: 5px solid #ffd000;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.news-item:hover {
    transform: translateX(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
