@import url("style.css"); /* Основные стили из style.css */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"); /* Подключение Bootstrap */

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    color: #000000;
}

.card-text {
    font-size: 1.1rem;
    color: #555;
}
.card {
    background-color: #ffffff; 
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

