#footer{
    color:aliceblue;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

input.form-control{
    width: 400px;
}

#profilePreview{
    height: 150px;
    width: 150px;
}