#footer{
    color:aliceblue;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* input.form-control{
    width: 400px;
}

#profilePreview{
    height: 150px;
    width: 150px;
} */

.mb-3{
    align-content: center;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}

.nav-link:focus {
    background-color: #555;
    outline: 2px solid #fff;
  }


.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}
.success-message {
    color: green;
    margin-top: 20px;
}

