@import url("style.css"); /* Основные стили из style.css */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"); /* Подключение Bootstrap */

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}
