body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0;
    background-color: #f0f0f0;
    margin-bottom: 60px;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em; 
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #575757;
    border-radius: 10px;
}

main {
    padding: 20px;
    width: 1140px;
    margin: 0 auto;
}


aside {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0; 
}

div.quote{
    font-style: italic;
    margin: 20px 0;
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 60px; */
}

form label {
    margin-top: 10px;
}

form input, form textarea, form select {
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 400px;


}

form input[type="submit"], form input[type="reset"] {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

article.movie {
    display: flex;
    margin-bottom: 20px;
    background-color: #ccc;
    border-radius: 10px;
}

figure.content-figure {
    margin-right: 10px;
}

img.content-img {
    width: 200px;
    height: 270px;
}

