* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333; 
    color: white; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
	background-color: #74e1e9;
	text-align: center;
    margin-top: auto;
	padding: 10px;
	width: 100%;
}

footer a {
	color: #007bff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

input[type=submit], input[type=reset]{
    background-color: #4583d4;
    padding: 12px 16px;
    cursor: pointer;
    color: white;
    border: none;
}

#profile-page{
    margin: 0 auto;
}

main.profile{
    margin: 0 auto;
}

textarea{
    border-radius: 5px;
  border: 1px solid #ccc;
  display:block;
}

